.githooks
.vscode
*.log
*.retry
*.swp
**/__pycache__/**
/.ansible
/.idea
/container/home/builder/.ssh/config**
/container/home/builder/.ssh/known_hosts**
/container/home/builder/.vault/vlt**
/custom/**
/personal/**
/roles
/roles_core
ansible/**
container/home/builder/.*history
defaults/.env
node_modules
sync-to-shared-roles.sh
# Since this list is parsed in order, the deny (!) needs to be after allow for the same folder
/inventories/*
!/inventories/_TEMPLATE_PROJECT
!/inventories/_operating_systems

# Yarn
/.yarn/**
